<h2>Edit Score </h2>

<%= form_for @game do |f| %>
  <%= f.label :teamwon %>
  <%= f.text_field :teamwon %>

  <%= f.label :scoreteam1%>
  <%= f.text_field :scoreteam1 %>

  <%= f.label :scoreteam2%>
  <%= f.text_field :scoreteam2 %>

  <%= f.submit "Submit"%>
<% end %>

<!-- <%= form_for @game, method: :delete do |f| %>
 <%= f.submit "Delete", class: "delete" %>
<% end %> -->
