<!DOCTYPE html>
<html>
  <head>
    <title>SportsBracket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class='logo'><%= link_to "Sports Scoring App", root_path %></h1>
    <nav>
      <h1>View all updates here!</h1>
      <h2><%= link_to "All Leagues", leagues_path %></h2>
      <h2><%= link_to "View All Game Scores", games_path %> </h2>
    </nav>
    <%= yield %>
  </body>
</html>
